<!-- <div class="container"> -->
<!-- <div id="toolbar">
  <a href="#" id="all" class="button active">All Grants</a>
  <a href="#" id="year" class="button">Grants By Year</a>
</div> -->

<br><div class="divider"></div>

<h3>Pago a Proveedores:</h3>
<form ng-submit="submit()" data-ng-init="submit()">
  <div class="row">
    <div class="col s12 m3">
      <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
        <input ng-model="bubblefilterini" type="text" class="angular-datepicker-input"/>
      </datepicker> -->
      <input type="date" name="name" ng-model="bubblefilterini">
    </div>
    <div class="col s12 m3">
      <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
        <input ng-model="bubblefilterfin" type="text" class="angular-datepicker-input"/>
      </datepicker> -->
      <input type="date" name="name" ng-model="bubblefilterfin">

    </div>
    <div class="col s12 m3">
      <div input-field>
          <select class="select" ng-model="searchPurchase" >
              <option value="undefined">TODOS LOS RUBROS</option>
              <option ng-repeat="value in categories | orderBy:'categories' ">{{value}}</option>
          </select>
      </div>
    </div>
    <div class="col s12 m3">
      <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
    </div>
  </div>
</form>

<div>
  <div id="bubbleChartFather">
    <div id="bubbleChart" class="svg-container" ></div>
  </div>
</div>

<div class="row">
  <a class="resp-sharing-button__link" style="float:right;margin:none" aria-label="Share on Facebook"
   socialshare
   socialshare-url="http://dcu.herokuapp.com"
   socialshare-redirect-uri="http://facebook.com"
   socialshare-provider="facebook"
   socialshare-type="feed"
   socialshare-via="180018385783180"
   socialshare-text="PAGO A PROVEEDORES"
   socialshare-description="Este es el pago a proveedores del sitio web Concepcion Transparente.Se pueden distinguir los proveedores por diferentes burbujas."
   socialshare-media="http://help.infragistics.com/Help/Doc/Silverlight/2011.2/CLR4.0/html/images/xamWebChart_Bubble_Chart_01.png"
   socialshare-popup-height="300"
   socialshare-popup-width="400"
   socialshare-trigger="click">
   <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
     <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
   </div>Compartir en Facebook</div>
 </a>
</div>
