<div ng-cloak>
  <h1>{{detail[0].nombre}}</h1>
  <h3>Cuit: {{detail[0].cuit}}</h3>
  <br><div class="divider"></div><br>

  <div class="row">
    <div class="col s12 m6">
      <h3>Contrataciones por rubro: </h3>
      <form ng-submit="submitCategory()" data-ng-init="submitCategory()">
            <label for="inputCreated">Desde</label>
          <!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
            <input input-date
                type="text"
                name="created"
                id="inputCreated"
                ng-model="categoryIni"
                container=""
                format="dd/mm/yyyy"
                disable="disable"
                today="Hoy"
                first-day="1"
                clear="Limpiar"
                close="Cerrar"
                 months-full="{{ month }}"
                months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}"
                weekdays-short="{{ weekdaysShort }}"
                weekdays-letter="{{ weekdaysLetter }}"/>


          <label for="inputCreated">Hasta</label>
        <!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
          <input input-date
              type="text"
              name="created"
              id="inputCreated"
              ng-model="categoryFin"
              container=""
              format="dd/mm/yyyy"
              disable="disable"
              today="Hoy"
              first-day="1"
              clear="Limpiar"
              close="Cerrar"
               months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"/>

                <button type="submit" class="waves-effect  pink lighten-1 waves-light btn"><i class="material-icons left">search</i>Filtrar</button>

                <!-- <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Filtrar</button> -->
            </form>

      <table ng-cloak>
        <thead>
          <th>REPARTICIÓN</th>
          <th>CONTRATOS</th>
          <th>IMPORTE</th>
        </thead>
        <tbody>
          <tr ng-repeat="x in detailCategories | orderBy: 'nombre' | limitTo: paginationLimit2() | filter:searchText">
            <td>{{ x.nombre }}</td>
            <td>{{x.contratos }}</td>
            <td>{{x.importe | currency}}</td>
          </tr>
        </tbody>
      </table>
      <div class="button-div">
        <button class="show-more-btn" ng-show="hasMoreItemsToShow2()" ng-click="showMoreItems2()">Ver más</button>
      </div>

    </div>



    <div class="col s12 m6">
      <h3>Contrataciones por mes: </h3>
      <form ng-submit="submitMonth()" data-ng-init="submitMonth()">

            <!-- Año:
           <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">  <p type="text" class="form-control" data-ng-model="detailControllerfinn">
                 {{detailControllerfin | amDateFormat:'dddd, MMMM Do YYYY'}} </p>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="detailControllerfin" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>
            </ul>
          </div>
          <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Filtrar</button> -->
          <label for="inputCreated">Año</label>
  <!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
    <input input-date
        type="text"
        name="created"
        id="inputCreated"
        ng-model="monthIni"
        container=""
        format="dd/mm/yyyy"
        disable="disable"
        today="Hoy"
        first-day="1"
        clear="Limpiar"
        close="Cerrar"
         months-full="{{ month }}"
        months-short="{{ monthShort }}"
        weekdays-full="{{ weekdaysFull }}"
        weekdays-short="{{ weekdaysShort }}"
        weekdays-letter="{{ weekdaysLetter }}"/>


          <button type="submit" class="waves-effect  pink lighten-1 waves-light btn"><i class="material-icons left">search</i>Filtrar</button>

      </form>

      <table ng-cloak>
        <thead>
          <th>MES</th>
          <th>CONTRATOS</th>
          <th>IMPORTE</th>
        </thead>
        <tbody>
          <tr ng-repeat="x in detailMonth | orderBy: '_id'">
            <td>{{ x._id | monthName }}</td>
            <td>{{x.contracts }}</td>
            <td>{{x.import | currency}}</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>



  <br><div class="divider"></div><br>
  <h3>Evolución del gasto: </h3>
  <div id="lineschart-detail" ></div>
  <br><div class="divider"></div>
  <br>
  <h3>Contratos de obra pública y servicios para el proveedor</h3>
  <form>
    <input type="text" placeholder="Filtrar Categoria / Importe / Año" ng-model="searchPurchase">
    <button type="button" ng-csv="detail" csv-header="getHeader()" filename="detalle.csv" class="waves-effect  pink lighten-1 waves-light btn">Exportar</button>

    <!-- <button type="button" ng-csv="detail" csv-header="getHeader()" filename="detalle.csv">Export</button> -->
  </form>
  <table >
    <thead>
      <th>FECHA</th>
      <th>REPARTICIÓN</th>
      <th>PROVEEDOR</th>
      <th>IMPORTE</th>
    </thead>
    <tbody>
      <tr ng-repeat="x in detail | filter:searchPurchase | limitTo: paginationLimit()">
        <td>{{ x.fecha | date:'MM/yyyy' }}</td>
        <td>{{ x.reparticion }}</td>
        <td>{{ x.nombre }}</td>
        <td>{{x.importe | currency}}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-div">
    <button class="show-more-btn waves-effect  pink lighten-1 waves-light btn" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Ver más</button>
  </div>


</div>
