<br><div class="divider"></div>
<div class="row presupuestos">
  <div class="col s12 m6">
    <a href="./Propuesta2016.xls" download="Propuesta modificación presupuesto 2016">

        <img src="./propuesta2016image.png" alt="" />
      </a>
      <a class="waves-effect green lighten-3  waves-light btn" ref="./Propuesta2016.xls" download="Proyecto modificación presupuesto 2016">
       <i class="fa fa-download material-icons left" aria-hidden="true"></i>Descargar Propuesta modificación presupuesto 2016</a>
      </a>

  </div>
  <div class="col s12 m6">
    <a href="./Presupuesto2016.pdf" download="Proyecto modificación presupuesto 2016">
      <img src="./presupuesto2016image.png" alt="" />
    </a>
      <a class="waves-effect green lighten-3 waves-light btn" ref="./Presupuesto2016.pdf" download="Proyecto modificación presupuesto 2016">
        <i class="fa fa-download material-icons left" aria-hidden="true"></i>Descargar Proyecto modificación presupuesto 2016</a>
      </a>
  </div>
</div>
