<br><div class="divider"></div>
<div class="general-data" ng-cloak>
  <div class="row">
    <h3>Actualmente la Municipalidad de Concepción del Uruguay informa en su sitio:</h3>
  </div>
  <div class="row">
    <form ng-submit="submit()" data-ng-init="submit()">
        <div class="col s12 m4" style="text-align:left;">
          Desde:
          <input type="date" name="name" ng-model="generalfilterini">


        </div>
        <div class="col s12 m4" style="text-align:left;">
          Hasta:
          <input type="date" name="name" ng-model="generalfilterfin">
          <!-- <datepicker ng-submit="submit()" >
            <input ng-model="generalfilterfin" type="text" class="angular-datepicker-input" />
          </datepicker> -->

        </div>
        <div class="col s12 m4">
          <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
        </div>
        <!-- <div class="col s12 m2">
          <button type="button" ng-csv="csv" filename="Datos-generales.csv">Exportar datos</button>
        </div> -->
    </form>
  </div>
  <div class="row">
    <div class="col s12 m4 border-right">
      <p>TOTAL DE ORDENES DE COMPRA POR:<br><br><br><span>
       {{totalimport.import |currency}}
      </span></p>
    </div>
    <div class="col s12 m4 border-right">
      <p>CANTIDAD DE PROVEEDORES:<br><br><br><span>
         {{totalproviders.length}}
      </span></p>
    </div>
    <div class="col s12 m4">
      <p>CANTIDAD DE ORDENES DE COMPRAS:<br><br><br><span>
        {{totalorders}}
      </span></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">

    </div>
    <div class="col s12 m4">
    </div>
  </div>

  </div>


  <div class="row">
    <a class="resp-sharing-button__link" style="float:right;margin:none" aria-label="Share on Facebook"
     socialshare
     socialshare-url="http://dcu.herokuapp.com"
     socialshare-redirect-uri="http://facebook.com"
     socialshare-provider="facebook"
     socialshare-type="feed"
     socialshare-via="180018385783180"
     socialshare-text="LA MUNISIPALIDAD DE CONCEPCIÓN DEL URUGUAY INFORMA
 entre {{generalfilterini | date: 'dd-MM-yyyy'}} y {{generalfilterfin | date: 'dd-MM-yyyy'}}"
 socialshare-description="Total de ordenes de compra por: {{totalimport.import |currency}}, Cantidad de proveedores: {{totalproviders.length}}, Cantidad de ordenes de compra: {{totalorders}}"

     socialshare-popup-height="300"
     socialshare-popup-width="800"
     socialshare-trigger="click">
     <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
       <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
     </div>Compartir en Facebook</div>
   </a>
  </div>
