<br><div class="divider"></div>
<div class="general-data" ng-cloak>
  <div class="row">
    <h3>Actualmente la Municipalidad de Concepción del Uruguay informa en su sitio:</h3>
  </div>
  <div class="row">
    <form ng-submit="submit()" data-ng-init="submit()">
    
        <div class="col s12 m4" style="text-align:left;">
          Desde:
           <div class="dropdown">
  <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group">

      <p type="text" class="form-control" data-ng-model="generalfilterini">
       {{generalfilterini | amDateFormat:'dddd, MMMM Do YYYY'}} </p>
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="generalfilterini" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' , startView:'day', minView:'day'}"/>
  </ul>
</div>


        </div>
        <div class="col s12 m4" style="text-align:left;">
          Hasta:
         <div class="dropdown">
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group">  <p type="text" class="form-control" data-ng-model="generalfilterfinn">
       {{generalfilterfin | amDateFormat:'dddd, MMMM Do YYYY'}} </p>
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="generalfilterfin" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>
  </ul>
        </div>
</div>

        <div class="col s12 m4">

          <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Filtrar</button>
        </div>
       
    </form>
  </div>
  <div class="row numbers">
    <div class="col s12 m4 border-right">
      <p>TOTAL DE ORDENES DE COMPRA POR:<br><br><br><span>
       <h3>{{totalimport.import |currency}}</h3>
      </span></p>
    </div>
    <div class="col s12 m4 border-right">
      <p>CANTIDAD DE PROVEEDORES:<br><br><br><span>
      <h3>{{totalproviders.length}}</h3>
      </span></p>
    </div>
    <div class="col s12 m4">
      <p>CANTIDAD DE ORDENES DE COMPRAS:<br><br><br><span>
        <h3>{{totalorders}}</h3>
      </span></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">

    </div>
    <div class="col s12 m4">
    </div>
  </div>

  </div>


  <div class="row">
     <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
   

  </div>
