<br><div class="divider"></div>

<!-- <div class="general-data" ng-cloak>
  <h3>
    La municipalidad de Concepción del Uruguay brinda:</h3>
  <div class="col s12 m3 border-right">
    <p>TOTAL DE ORDENES DE COMPRA POR:<br><br><br><span>
     {{totalimport.data[0].import |currency}}
    </span></p>
  </div>
  <div class="col s12 m3 border-right">
    <p>PROMEDIO DE GASTO MENSUAL:<br><br><br><span>need filters</span></p>
  </div>
  <div class="col s12 m3 border-right">
    <p>CANTIDAD DE PROVEEDORES:<br><br><br><span>
       {{totalproviders.length}}
    </span></p>
  </div>
  <div class="col s12 m3">
    <p>CANTIDAD DE ORDENES DE COMPRAS:<br><br><br><span>
      {{totalorders.data}}
    </span></p>
  </div>
</div> -->

<div class="general-data" ng-cloak>
  <h3>Actualmente la Municipalidad de Concepción del Uruguay informa en su sitio:</h3>
  <form ng-submit="submit()" data-ng-init="submit()">
    <div class="row">
      <div class="col s12 m4">
        <datepicker ng-submit="submit()"  datepicker-show="{{ctrl.visibility}}">
          <input ng-model="generalfilterini" type="text" class="angular-datepicker-input"/>
        </datepicker>
      </div>
      <div class="col s12 m4">
        <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="generalfilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker>
      </div>
      <div class="col s12 m4">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div>
    </div>
  </form>
  <div class="col s12 m4 border-right">
    <p>TOTAL DE ORDENES DE COMPRA POR:<br><br><br><span>
     {{totalimport.data[0].import |currency}}
    </span></p>
  </div>
  <div class="col s12 m4 border-right">
    <p>CANTIDAD DE PROVEEDORES:<br><br><br><span>
       {{totalproviders.length}}
    </span></p>
  </div>
  <div class="col s12 m4">
    <p>CANTIDAD DE ORDENES DE COMPRAS:<br><br><br><span>
      {{totalorders.data}}
    </span></p>
  </div>
  <div>
    <!-- <button class="btn btn-medium"
    socialshare
    socialshare-url="http://dcu.herokuapp.com"
    socialshare-redirect-uri="http://facebook.com"
    socialshare-provider="facebook"
    socialshare-type="feed"
    socialshare-via="180018385783180"
    socialshare-text="A MUNISIPALIDAD DE CONCEPCIÓN DEL URUGUAY INFORMA"
    socialshare-description="Actualmente la Municipalidad de Concepción del Uruguay informa en su sitio los siguientes datos"
    socialshare-media="http://docs.bigobject.io/img/Line.png"
    socialshare-caption="Información general de Concepción Transparente"
    socialshare-popup-height="300"
    socialshare-popup-width="400"
    socialshare-trigger="click"
    <i class="fa fa-facebook"></i> Share on Facebook (sharer)
    </button> -->
  </div>
</div>
