<br><div class="divider"></div>
<div>
  <div class="article">
    <h3>Evolución del gasto en proveedores:</h3>
    <form ng-submit="submit()" data-ng-init="submit()">
      <div class="row">
        <div class="col s12 m4">
          <datepicker ng-submit="submit()"  datepicker-show="{{ctrl.visibility}}">
            <input ng-model="rankingFilterini" type="text" class="angular-datepicker-input"/>
          </datepicker>
        </div>
        <div class="col s12 m4">
          <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
            <input ng-model="rankingFilterfin" type="text" class="angular-datepicker-input"/>
          </datepicker>
        </div>
        <div class="col s12 m4">
          <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
        </div>
      </div>
    </form>
    <div id="lineschart"></div>
    <div>
      <!-- <button class="btn btn-medium"
      socialshare
      socialshare-url="http://dcu.herokuapp.com"
      socialshare-redirect-uri="http://facebook.com"
      socialshare-provider="facebook"
      socialshare-type="feed"
      socialshare-via="180018385783180"
      socialshare-text="RANKING DE PROVEEDORES"
      socialshare-description="Este es el ranking de los proveedores del sitio web Concepcion Transparente"
      socialshare-media="http://docs.bigobject.io/img/Line.png"
      socialshare-caption="Ranking de proveedores de Concepción Transparente"
      socialshare-popup-height="300"
      socialshare-popup-width="400"
      socialshare-trigger="click"
      <i class="fa fa-facebook"></i> Share on Facebook (sharer)
      </button> -->
    </div>
  </div>
  <br>
</div>
