<br>

<div class="divider"></div>

<div>
  <div class="article">
    <h3>Evolución del gasto en proveedores:</h3>
    <p class="text">
      En este apartado puedes analizar y comparar el presupuesto municipal en curso
      y la evolución del total de pagos a proveedores en un período determinado,
      por medio de un gráfico de lìneas.
    </p>

    <form ng-submit="submit()" data-ng-init="submit()">
      <div class="row">
        <div class="col s12 m4">
          <label for="lineChartFechaInicio">Desde</label>

          <input input-date
            id="lineChartFechaInicio"
            ng-model="lineChartFechaInicio"
            type="text"
            max="{{ lineChartFechaInicioMaxDate }}"
            min="{{ fechaInicioDatos }}"
            format="dd/mm/yyyy"
            first-day="0"
            name="lineChartFechaInicio"
            disable="disable"
            today="today"
            clear="clear"
            close="close"
            container=""
            select-years="20"
            select-months="true"
            months-full="{{ month }}"
            months-short="{{ monthShort }}"
            weekdays-full="{{ weekdaysFull }}"
            weekdays-short="{{ weekdaysShort }}"
            weekdays-letter="{{ weekdaysLetter }}"
          />
        </div>

        <div class="col s12 m4">
          <label for="lineChartFechaFin">Hasta</label>

          <input input-date
            id="lineChartFechaFin"
            ng-model="lineChartFechaFin"
            type="text"
            max="{{ lineChartFechaFinMaxDate }}"
            min="{{ fechaInicioDatos }}"
            format="dd/mm/yyyy"
            first-day="0"
            name="lineChartFechaFin"
            disable="disable"
            today="today"
            clear="clear"
            close="close"
            container=""
            select-years="20"
            select-months="true"
            months-full="{{ month }}"
            months-short="{{ monthShort }}"
            weekdays-full="{{ weekdaysFull }}"
            weekdays-short="{{ weekdaysShort }}"
            weekdays-letter="{{ weekdaysLetter }}"
          />
        </div>

        <div class="col s12 m4">
          <button type="submit" id="ranking_filter" class="waves-effect  green lighten-1 waves-light btn"><i class="material-icons left">search</i>Filtrar</button>
        </div>
      </div>
    </form>

    <div id="lineschart"></div>
  </div>

  <br>

</div>
