<div class="row">
  <div class="col-md-12">
    <h2 class="h2-responsive">Listado completo de Proveedores</h2>
    <p class="lead">Esta sección muestra la totalidad de los proveedores contratados por la Municipalidad de Concepción del Uruguay desde el 01/01/2009 a la actualidad. Están ordenados alfabéticamente. La sección cuenta con un filtro que permite buscar proveedores específicos por nombre.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form>
      <input type="text" placeholder="Filtrar nombre de proveedor" ng-model="searchPurchase">
      <!-- <button type="button" ng-csv="detail" csv-header="getHeader()" filename="detalle.csv">Export</button> -->
    </form>
  </div>

  <div class="col-md-6">
    <button type="button" ng-csv="getArrayProviders" csv-header="getHeader()" filename="Proveedores.csv" class="waves-effect indigo lighten-1 waves-light btn btn-large center-button"><i class="fas fa-cloud-download-alt"></i> Exportar</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>PROVEEDOR</th>
          <th>CUIT</th>
          <th>IMPORTE TOTAL</th>
          <th>VER DETALLE</th>
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="x in getArrayProviders | orderBy: 'nombre' | filter:searchPurchase | limitTo: paginationLimitP() ">
          <td>{{ x.nombre }}</td>
          <td>{{ x.cuit }}</td>
          <td>{{ x.importe | currency}}</td>
          <!-- <td><a ui-sref="Detail({id: x.id})"><i class="fa fa-arrow-circle-o-right fa-2 " aria-hidden="true"></i></a></td> -->
          <td>
            <a ui-sref="Detail({id: x.id})" target="_blank"><i class="fas fa-search-plus fa-2x"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="button-div">
      <button class="show-more-btn waves-effect indigo lighten-3 waves-light btn btn-large center-button" ng-show="hasMoreItemsToShowP()" ng-click="showMoreItemsP()"><i class="far fa-plus-square"></i> Ver más</button>
    </div>
  </div>

</div>
