  <div class="row">
    <br><div class="divider"></div>
    <h3>Total de ordenes de compra: </h3>
  </div>
  <div class="row">
  <form ng-submit="submit()" data-ng-init="submit()">
      <div class="col s12 m3">
        <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="purchasefilterini" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <input type="date" name="name" ng-model="purchasefilterini">

      </div>

      <div class="col s12 m3">
        <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="purchasefilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <input type="date" name="name" ng-model="purchasefilterfin">

      </div>
      <div class="col s12 m3">
        <div input-field>
            <select class="select" ng-model="searchPurchase" >
                <option value="undefined">TODOS LOS RUBROS</option>
                <option ng-repeat="value in categories">{{value}}</option>
            </select>
        </div>
      </div>
      <div class="col s12 m3">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div>


    </form>
  </div>

  <div class="row">
    <div class="col s12 m10">

    </div>
    <div class="col s12 m2">
      <button type="button" ng-csv="getArrayPU" csv-header="getHeader()" filename="Ordenes-Compra.csv">Exportar datos</button>
    </div>
  </div>

<div class="row">
  <table>
    <thead>
      <tr>
        <!-- <th>
          <a href="" ng-click="sortType = 'fk_Provider'; sortReverse = !sortReverse">
            PROVEEDOR
            <span ng-show="sortType == 'fk_Provider' && !sortReverse"></span>
            <span ng-show="sortType == 'fk_Provider' && sortReverse"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'fk_Category.category'; sortReverse = !sortReverse">
            REPARTICIÓN
            <span ng-show="sortType == 'fk_Category.category' && sortReverse"></span>
            <span ng-show="sortType == 'fk_Category.category' && !sortReverse"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'import'; sortReverse = !sortReverse">
            IMPORTE
            <span ng-show="sortType == 'import' && !sortReverse"></span>
            <span ng-show="sortType == 'import' && sortReverse"></span>
          </a>
        </th> -->
        <th>
          PROVEEDOR
        </th>
        <th>
          REPARTICIÓN
        </th>
        <th>
          IMPORTE
        </th>
        <th>
          DETALLE
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in getArrayPU | orderBy:sortType:sortReverse  | limitTo: paginationLimit()">
        <td>{{ x.nombre }}</td>
        <td>{{ x.reparticion }}</td>
        <td>{{x.importe | currency}}</td>
        <td><a ui-sref="Detail({id: x.id})">Ver detalle</a></td>
        <td style="display:none;">{{ x.anio}}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-div">
    <button class="show-more-btn" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Ver más</button>
  </div>
</div>

  <div class="row">
    <!-- <button class="btn btn-medium"
    socialshare
    socialshare-url="http://dcu.herokuapp.com"
    socialshare-redirect-uri="http://facebook.com"
    socialshare-provider="facebook"
    socialshare-type="feed"
    socialshare-via="180018385783180"
    socialshare-text="PRINCIPALES CONTRATISTAS DE OBRAS PÚBLICAS"
    socialshare-description="Los principales contratistas de obras públicas del sitio web Concepcion Transparente"
    socialshare-media="http://docs.bigobject.io/img/Line.png"
    socialshare-caption="Obras públicas de Concepción Transparente"
    socialshare-popup-height="300"
    socialshare-popup-width="400"
    socialshare-trigger="click"
    <i class="fa fa-facebook"></i> Share on Facebook (sharer)
    </button> -->
    <a class="resp-sharing-button__link" style="float:right;margin:none" aria-label="Share on Facebook"
     socialshare
     socialshare-url="http://dcu.herokuapp.com"
     socialshare-redirect-uri="http://facebook.com"
     socialshare-provider="facebook"
     socialshare-type="feed"
     socialshare-via="180018385783180"
     socialshare-text="PRINCIPALES CONTRATISTAS DE OBRAS PÚBLICAS entre {{purchasefilterini | date: 'dd-MM-yyyy'}} y {{purchasefilterini | date: 'dd-MM-yyyy'}}"
     socialshare-description="1){{getArrayPU[0].nombre}} ({{getArrayPU[0].importe | currency}}),
     2){{getArrayPU[1].nombre}} ({{getArrayPU[1].importe | currency}}),
     3){{getArrayPU[2].nombre}} ({{getArrayPU[2].importe | currency}}),
     4){{getArrayPU[3].nombre}} ({{getArrayPU[3].importe | currency}})
     3){{getArrayPU[4].nombre}} ({{getArrayPU[4].importe | currency}}),
     3){{getArrayPU[5].nombre}} ({{getArrayPU[5].importe | currency}}),
     3){{getArrayPU[6].nombre}} ({{getArrayPU[6].importe | currency}}),"
     socialshare-popup-height="300"
     socialshare-popup-width="400"
     socialshare-trigger="click">
     <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
       <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
     </div>Compartir en Facebook</div>
   </a>
  </div>
</div>
