  <div class="row">
    <br><div class="divider"></div>
    <h3>Total de ordenes de compra: </h3>
  </div>
  <div class="row">
  <form ng-submit="submit()" data-ng-init="submit()">
      <div class="col s12 m3">
        <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="purchasefilterini" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <!-- <input type="date" name="name" ng-model="purchasefilterini"> -->
        <label for="inputCreated">Desde</label>
<!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
  <input input-date
      type="text"
      name="created"
      id="inputCreated"
      ng-model="purchasefilterini"
      container=""
      format="dd/mm/yyyy"
      disable="disable"
      today="Hoy"
      first-day="1"
      clear="Limpiar"
      close="Cerrar"
       months-full="{{ month }}"
      months-short="{{ monthShort }}"
      weekdays-full="{{ weekdaysFull }}"
      weekdays-short="{{ weekdaysShort }}"
      weekdays-letter="{{ weekdaysLetter }}"/>

      </div>

      <div class="col s12 m3">
        <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="purchasefilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <!-- <input type="date" name="name" ng-model="purchasefilterfin"> -->
        <label for="inputCreated">Hasta</label>
<!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
  <input input-date
      type="text"
      name="created"
      id="inputCreated"
      ng-model="purchasefilterfin"
      container=""
      format="dd/mm/yyyy"
      disable="disable"
      today="Hoy"
      first-day="1"
      clear="Limpiar"
      close="Cerrar"
       months-full="{{ month }}"
      months-short="{{ monthShort }}"
      weekdays-full="{{ weekdaysFull }}"
      weekdays-short="{{ weekdaysShort }}"
      weekdays-letter="{{ weekdaysLetter }}"/>

      </div>
      <div class="col s12 m3">
        <div input-field>
            <select class="select waves-effect pink lighten-1 waves-light btn" ng-model="searchPurchase" >
                <option value="undefined">TODOS LOS RUBROS</option>
                <option ng-repeat="value in categories">{{value}}</option>
            </select>
        </div>
      </div>
      <!-- <div class="col s12 m3">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div> -->
      <div class="col s12 m3">
        <button type="submit" id="ranking_filter" class="waves-effect  pink lighten-1 waves-light btn"><i class="material-icons left">search</i>Filtrar</button>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col s12 m10">

    </div>
    <!-- <div class="col s12 m2">
      <button type="button" ng-csv="getArrayPU" csv-header="getHeader()" filename="Ordenes-Compra.csv">Exportar datos</button>
    </div> -->
    <div class="col s12 m2">
      <button type="button" ng-csv="getArrayPU" csv-header="getHeader()" filename="Ordenes-Compra.csv" class="waves-effect  pink lighten-1 waves-light btn">Exportar datos</button>
    </div>
  </div>

<div class="row">
  <table>
    <thead>
      <tr>
        <!-- <th>
          <a href="" ng-click="sortType = 'fk_Provider'; sortReverse = !sortReverse">
            PROVEEDOR
            <span ng-show="sortType == 'fk_Provider' && !sortReverse"></span>
            <span ng-show="sortType == 'fk_Provider' && sortReverse"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'fk_Category.category'; sortReverse = !sortReverse">
            REPARTICIÓN
            <span ng-show="sortType == 'fk_Category.category' && sortReverse"></span>
            <span ng-show="sortType == 'fk_Category.category' && !sortReverse"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'import'; sortReverse = !sortReverse">
            IMPORTE
            <span ng-show="sortType == 'import' && !sortReverse"></span>
            <span ng-show="sortType == 'import' && sortReverse"></span>
          </a>
        </th> -->
        <th>
          PROVEEDOR
        </th>
        <th>
          REPARTICIÓN
        </th>
        <th>
          IMPORTE
        </th>
        <th>
          DETALLE
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in getArrayPU | orderBy:sortType:sortReverse  | limitTo: paginationLimit()">
        <td>{{ x.nombre }}</td>
        <td>{{ x.reparticion }}</td>
        <td>{{x.importe | currency}}</td>
        <td><a ui-sref="Detail({id: x.id})">Ver detalle</a></td>
        <td style="display:none;">{{ x.anio}}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-div">
    <button class="show-more-btn waves-effect  pink lighten-1 waves-light btn" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Ver más</button>
  </div>
</div>

</div>
