<div class="row">
  <br><div class="divider"></div>
  <h3>Ranking de proveedores</h3>
  <form ng-submit="submit()" data-ng-init="submit()">
      <div class="col s12 m4">Desde:
        <!-- <datepicker ng-submit="submit()"  datepicker-show="{{ctrl.visibility}}">
          <input ng-model="rankingFilterini" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <input type="date" name="name" ng-model="rankingFilterini">

      </div>
      <div class="col s12 m4">Hasta:
        <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="rankingFilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
        <input type="date" name="name" ng-model="rankingFilterfin">

      </div>
      <div class="col s12 m2">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div>
      <div class="col s12 m2">
        <button type="button" ng-csv="getArray" csv-header="getHeader()" filename="Ranking.csv">Exportar datos</button>
      </div>
  </form>
</div>
<div class="row">
  <table>
    <thead>
      <tr>
        <th>PROVEEDOR</th>
        <th>CUIT</th>
        <th>IMPORTE TOTAL</th>
        <th>DETALLE</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in getArray">
          <td>{{ x.nombre }}</td>
          <td>{{ x.cuit }}</td>
          <td>{{ x.importe | currency}}</td>
          <td><a  ui-sref="Detail({id: x.id})">Ver detalle</a></td>
        </tr>
      </tbody>
  </table>
</div>
