<br><div class="divider"></div>

<!-- <div input-field>
    <select class="" ng-model="category" >
        <option ng-repeat="value in categories">{{value}}</option>
    </select>
</div> -->
<div>
  <h3>Ranking de proveedores</h3>
  <form ng-submit="submit()" data-ng-init="submit()">
    <div class="row">
      <div class="col s12 m4">
        <datepicker ng-submit="submit()"  datepicker-show="{{ctrl.visibility}}">
          <input ng-model="rankingFilterini" type="text" class="angular-datepicker-input"/>
        </datepicker>
      </div>
      <div class="col s12 m4">
        <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="rankingFilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker>
      </div>
      <div class="col s12 m4">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>PROVEEDOR</th>
        <th>CUIT</th>
        <th>IMPORTE TOTAL</th>
        <th>DETALLE</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in data">
          <td>{{ x._id.grant_title }}</td>
          <td>{{ x._id.cuil }}</td>
          <td>{{ x.import | currency}}</td>
          <td><a  ui-sref="Detail({id: x._id._id})">Ver detalle</a></td>
        </tr>
      </tbody>
      <button type="button" ng-csv="data"  filename="RANKING.csv">Export</button>
  </table>

  <!-- <div>
    <button class="btn btn-medium"
    socialshare
    socialshare-url="http://dcu.herokuapp.com"
    socialshare-redirect-uri="http://facebook.com"
    socialshare-provider="facebook"
    socialshare-type="feed"
    socialshare-via="180018385783180"
    socialshare-text="RANKING DE PROVEEDORES"
    socialshare-description="Este es el ranking de los proveedores del sitio web Concepcion Transparente"
    socialshare-media="http://docs.bigobject.io/img/Line.png"
    socialshare-caption="Ranking de proveedores de Concepción Transparente"
    socialshare-popup-height="300"
    socialshare-popup-width="400"
    socialshare-trigger="click"
    <i class="fa fa-facebook"></i> Share on Facebook (sharer)
    </button>
  </div> -->
  <!-- Sharingbutton Facebook -->
<!-- <a class="resp-sharing-button__link" aria-label="Share on Facebook"
  socialshare
  socialshare-url="http://dcu.herokuapp.com"
  socialshare-redirect-uri="http://facebook.com"
  socialshare-provider="facebook"
  socialshare-type="feed"
  socialshare-via="180018385783180"
  socialshare-text="RANKING DE PROVEEDORES"
  socialshare-description="Este es el ranking de los proveedores del sitio web Concepcion Transparente"
  socialshare-media="http://docs.bigobject.io/img/Line.png"
  socialshare-caption="Ranking de proveedores de Concepción Transparente"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
  </div>Compartir en Facebook</div>
</a> -->

</div>
