<br>
<div class="row">
    <div class="divider"></div>
    <br>
    <h3>Ranking de Servicio Obra publica</h3>
    <p class="text">
        Para conocer el ranking de servicio de obra pública selecciona el período de búsqueda y los datos se mostrarán en la tabla, ordenados de mayor a menor.
    </p>

    <form ng-submit="submit()" data-ng-init="submit()">
        <div class="col s12 m4">
            <!-- <datepicker ng-submit="submit()"  datepicker-show="{{ctrl.visibility}}">
          <input ng-model="obrapublicaFilterini" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
            <!-- <input type="date" name="name" ng-model="obrapublicaFilterini"> -->
            <label for="inputCreated">Desde</label>
            <!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
            <input input-date type="text" name="created" id="inputCreated" ng-model="obrapublicaFilterini" container="" format="dd/mm/yyyy" disable="disable" today="Hoy" first-day="1" clear="Limpiar" close="Cerrar" months-full="{{ month }}" months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" />

        </div>
        <div class="col s12 m4">
            <!-- <datepicker ng-submit="submit()" datepicker-show="{{ctrl.visibility}}">
          <input ng-model="obrapublicaFilterfin" type="text" class="angular-datepicker-input"/>
        </datepicker> -->
            <!-- <input type="date" name="name" ng-model="obrapublicaFilterfin"> -->
            <label for="inputCreated">Hasta</label>
            <!--Docs Here>> http://krescruz.github.io/angular-materialize/#input-date -->
            <input input-date type="text" name="created" id="inputCreated" ng-model="obrapublicaFilterfin" container="" format="dd/mm/yyyy" disable="disable" today="Hoy" first-day="1" clear="Limpiar" close="Cerrar" months-full="{{ month }}" months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" />

        </div>
        <!-- <div class="col s12 m2">
        <button type="submit" id="ranking_filter" value="add a new filter">Filtrar</button>
      </div> -->
        <div class="col s12 m4">
            <button type="submit" id="ranking_filter" class="waves-effect  green  lighten-1 waves-light btn"><i class="material-icons left">search</i>Filtrar</button>
        </div>
        <!-- <div class="col s12 m2">
        <button type="button" ng-csv="getArrayOP" csv-header="getHeader()" filename="ObraPublica.csv">Exportar datos</button>
      </div> -->
    </div>
    <div class="row">
          <button type="button" ng-csv="getArrayOP" csv-header="getHeader()" filename="ObraPublica.csv" class="waves-effect  lime  lighten-1 waves-light btn center-button"> <i class="fa fa-download material-icons left" aria-hidden="true"></i>Exportar </button>
    </div>
    </form>


<div class="row">
    <table>
        <thead>
            <tr>
                <th>PROVEEDOR</th>
                <th>CUIT</th>
                <th>IMPORTE TOTAL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in getArrayOP">
                <td>{{ x.nombre }}</td>
                <td>{{ x.cuit }}</td>
                <td>{{ x.importe | currency}}</td>
                <td><a ui-sref="Detail({id: x.id})"><i class="fa fa-arrow-circle-o-right fa-2 " aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
