<!-- ////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////// -->


      <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m12">
            <h3>Presupuesto del año 2015</h3>
          </div>
          <div class="col s12 m6" style="text-align:center">
            <div class="icon-block">
              <p class="light">
                <svg width="150" height="150">
                  <circle cx="50%" cy="50%" r="70" fill="#4db6ac" />
                  <text x="25%" y="60%" font-family="sans-serif" font-size="40px" font-weight="bold" fill="white">57%</text>
                </svg>
                <p class="fixedprice">
                  <span>$220</span>.000.000 <br>Millones <br>Destinado a sueldos
                </p>
              </p>
            </div>
          </div>

          <div class="col s12 m6" style="text-align:center">
            <div class="icon-block">
              <p class="light">
                <svg width="150" height="150">
                  <circle cx="50%" cy="50%" r="70" fill="#4db6ac" />
                  <text x="25%" y="60%" font-family="sans-serif" font-size="40px" font-weight="bold" fill="white">43%</text>
                </svg>
                <p class="fixedprice">
                  <span>$164</span>.000.000 <br>Millones <br>Otros gastos
                </p>
              </p>
            </div>
          </div>
        </div>
