<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Datos abiertos</title>
    <!-- CSS  -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/bubble_chart.css">

    <!-- Load c3.css -->
    <link href="/lib/c3/htdocs/css/c3.css" rel="stylesheet" type="text/css">
    <!-- Load d3.js and c3.js -->
    <!-- <script src="//d3js.org/d3.v3.min.js"></script> -->
    <script src="../lib/d3.js"></script>
    <script src="/lib/c3/htdocs/js/c3.min.js"></script>
  </head>


  <body>
    <div class="container">

        <header class="row">
          <div class="col s12 m8 border-right">
            <h1>CONCEPCIÓN DEL URUGUAY</h1>
            <h3>Visualización de datos publicos</h3>
          </div>
          <div class="col s12 m4 date">
            <script>
            var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
            var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
            var f=new Date();
            document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
            </script>
          </div>
        </header>

        <div class="divider"></div>

      <h3>Total de proveedores 2016:</h3>
</div>
  <!-- <div class="container"> -->

      <!-- <div id="toolbar">
        <a href="#" id="all" class="button active">All Grants</a>
        <a href="#" id="year" class="button">Grants By Year</a>
      </div> -->
      <div id="vis"></div>
    <!-- </div> -->
    <br><br><br>
    <div class="container">
        <footer>
          <div class="divider"></div>
          <p>
          Gasto Público de Concepción del Uruguay - <span>Copyright (c) 2016 Copyright All Rights Reserved.</span>
          </p>
        </footer>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../bower_components/materialize/dist/materialize.min.js"></script>
    <script src="../bower_components/materialize/dist/js/init.js"></script>

    <script src="../lib/d3.js"></script>
    <script src="../src/tooltip.js"></script>
    <script src="../src/bubble_chart.js"></script>

  </body>
</html>
