body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}
a {color: #00B7FF;}
h1{font-size: 2.5em;font-family: 'Open Sans', sans-serif;padding: 0 !important;}
h2{font-size: 2em;}
h3{font-size: 1.5em;font-family: 'Open Sans', sans-serif; font-weight: 400;font-style: italic;}
h4{font-size: 1em;}
@media (min-width:900px) {
  #vis{
    margin-top: -300px;
    margin-bottom: 400px;
  }
}
.border-right{
  border-right: 1px solid lightgray;
}
/*-------------header-----------------------*/
.date{
  text-align: right;
  margin-top:2.6em;
}

/*-------------general views-----------------------*/
.general-data{
  text-align: center;
}
.general-data h3{
  text-align: left;
}

/*------------first data info------------------*/
.first-datainfo{
  margin-top: 100px;
}
.first-datainfo span{
  font-weight: bold;
}

/*------------pie chart row------------------*/
#pie-info article p{
  font-size: 2em;
}
#pie-info span.color{
  font-size: 0.8em;
  color: gray;
  font-weight: normal;
}
#pie-info article p span{
  font-weight: bold;
}
/*------------2015 statics views------------------*/
p.fixedprice{
  font-size: 2em;
  font-weight: bold;
}
p.fixedprice span{
  font-size: 1.5em;
}
/*------------footer------------------*/
footer{
  text-align: center;
  color: gray;
}
footer p{
  margin-top: 1em;
}
footer span{
  color: lightgray;
  font-size: .8em;
}
