body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
a {color: #00B7FF;}
h1{font-size: 2.5em;font-family: 'Open Sans', sans-serif;padding: 0 !important;}
h2{font-size: 2em;}
h3{font-size: 1.5em;font-family: 'Roboto', sans-serif; font-weight: 300;font-style: italic;}
h4{font-size: 1em;}
h3.links{font-style: normal !important;}
tr:nth-child(even){background-color: #f2f2f2}


.border-right{
  border-right: 1px solid lightgray;
}
/*-------------header-----------------------*/
.date{
  text-align: right;
  margin-top:2.6em;
}

/*-------------general views-----------------------*/
.general-data{
  text-align: center;
}
.general-data h3{
  text-align: left;
}

/*------------first data info------------------*/
.first-datainfo{
  margin-top: 100px;
}
.first-datainfo span{
  font-weight: bold;
}

.button-div{
  margin-top: 3em;
  width: 100%;
}
.show-more-btn{
  background: #F2F2F2;
  width: 10em;
  height: 2em;
  border: none;
  margin: 0 auto;
  display: block;
}
.show-more-btn:active, .show-more-btn:hover, .show-more-btn:focus{
  background: #F2F2F2;
  border: none;

}
/*------------pie chart row------------------*/
#pie-info article p{
  font-size: 2em;
}
#pie-info span.color{
  font-size: 0.8em;
  color: gray;
  font-weight: normal;
}
#pie-info article p span{
  font-weight: bold;
}
/*------------2015 statics views------------------*/
p.fixedprice{
  font-size: 2em;
  font-weight: bold;
  color: gray;
}
p.fixedprice span{
  font-size: 1.5em;
}
/*------------footer------------------*/
footer{
  text-align: center;
  color: gray;
}
footer p{
  margin-top: 1em;
}
footer span{
  color: lightgray;
  font-size: .8em;
}
.select{
  width: 100%;
  height: 26px;
  outline: none;
  border: none;
  margin-top: 12px;
  background-color: #f2f2f2;
  border-radius: 0 !important;

}
.select:focus{
  outline: none;
  border: none;
}

.footer{
  background-color: #f2f2f2;
  height: auto;
  margin: 0 auto;
  padding-bottom: .4rem;
  padding-top: .4rem;

}

.presupuestos img{
  max-width: 100%;
}
