body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

svg{
  border: 1px solid lightgray;
}
p.fixedprice{
  font-size: 2em;
  font-weight: bold;
}
p.fixedprice span{
  font-size: 1.5em;
}
